

.scrollable::-webkit-scrollbar {
  width: 10px; 
  direction: rtl;

}

.scrollable::-webkit-scrollbar-track {
  background: #ffffff; /* Background of the track */
}

.scrollable::-webkit-scrollbar-thumb {
  background: #ff0000; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background: #000000; /* Color on hover */
}
