
/* Animation keyframes */

@keyframes slideInFromTop {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-in-top {
  animation: slideInFromTop 1s ease-in forwards;
}

@keyframes slideInFromBottom {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-in-bottom {
  animation: slideInFromBottom 1s ease-in-out forwards;
}

@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(50px); /* Start from 50px to the right */
  }
  to {
    opacity: 1;
    transform: translateX(0); /* Move to the original position */
  }
}

.slide-in-right {
  animation: slideInFromRight 1s ease-in forwards;
}

